<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title} ?: 'PromptVault'">PromptVault</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
  </head>

  <body>
    <div class="public-shell">
      <div class="public-brand">
        <span>PromptVault</span>
      </div>
      <div class="container-sm w-full">
        <div layout:fragment="content"></div>
      </div>
    </div>
  </body>
</html>
